<% if current_user.role == 20 || current_user.role == 10 %>
  <div class="form-group">
    <%= f.label :private, class: 'checkbox' do %>
      <%= f.check_box :private_wiki %> Private wiki
    <% end %>
  </div>

  <% if @wiki.private_wiki %>
     <%= render partial: 'collaborators/form', locals: { f: f } %>
  <% end %>

<% end %>
